@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #f6e05e;
  --primaryLight: #faf090;
  --primaryExLight: #fefac5;
  --primaryDark: #d69e2e;
  --primaryExDark: #975a16;
  --secondary: #90caf9;
  --secondaryLight: #bbdefb;
  --secondaryExLight: #e3f2fd;
  --secondaryDark: #1e88e5;
  --secondaryExDark: #1565c0;
  --green: #22C55E;
  --greenLight: #86EFAC;
  --greenExLight: #BBF7D0;
  --greenDark: #15803D;
  --greenExDark: #14532D;
  --pink: #EC4899;
  --pinkLight: #F9A8D4;
  --pinkExLight: #FBCFE8;
  --pinkDark: #BE185D;
  --pinkExDark: #831843;
  --red: #DC2626;
  --redLight: #F87171;
  --redExLight: #FCA5A5;
  --redDark: #B91C1C;
  --redExDark: #7F1D1D;
  --gray: #737373;
  --grayLight: #D4D4D4;
  --grayExLight: #F5F5F5;
  --gray50: #FAFAFA;
  --grayDark: #404040;
  --grayExDark: #171717;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.menu-dropdown a {
  @apply hover:bg-grayLight hover:text-grayDark
}

h1 {
  @apply text-2xl;
  font-family: 'Londrina Solid';
  font-style: normal;
  font-weight: 400;
}

h2 {
  @apply text-xl
}

h3 {
  @apply text-lg;
}